* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}

:root {
    --fonteRoboto: 'Roboto', sans-serif;
    --Platform-Aliases-Ttulos: #E1E1E6;
    font-size: 62.5%;

}

a {
    font-size: 2.2rem;
    color: #ffffff;

}


body {
    background-color: black;
    color: #ffffff;
    padding: 40px 72px;
}

header {
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    gap: 53px;
    text-align: center;
    font-family: var(--fonteRoboto);
    font-weight: 400;
}

h1 {
    color: var(--Platform-Aliases-Ttulos);
    font-family: var(--fonteRoboto);
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

